
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url('svg/background v3.svg') center/cover no-repeat fixed;
}

.nav-container {
  z-index: 1000;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

.logo {
  margin: 10px;
  border-radius: 80px;
  /* box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.364); */
}

nav, .social {
  /* border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, 0.364); */
  /* background-color: white; */
  margin-left: 20%;
  padding-right: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.social {
  padding-right: 2%;
  width: 20%;
}

nav a{
  text-decoration: none;
  color: rgba(51, 32, 50, 0.988);
  font-size: medium;
  font-weight: 400;
  transition: all .5s ease;

  animation: none;
}



nav a:hover {
  color: rgb(255, 200, 252);
  padding: 8px 16px;
  border-radius: 16px;
  animation: linkHoverAnimation 2s linear infinite alternate;
}


.svg {
  height: 25px;
  width: 25px;
}

.content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 150px 10px;
  margin: 0 4.5%;
}

.content,.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 33%;
  margin: 10px;
  padding: 2%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.588), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.content a {
  border: 1px solid grey;
  border-radius: 8px;
  width: 148px;
  text-decoration: none;
  font-size: medium;
  font-weight: 500;
  color: rgb(66, 63, 63);
  text-align: center;
  padding: 16px 0;
  transition: all .3s ease-out;
  animation: none;
}

.content a:hover {
  color: white;
  border: 1px solid rgba(128, 128, 128, 0);
  font-weight: bold;
  transform: scale(1.04);
  animation: linkHoverAnimation 2s linear infinite alternate-reverse;
}

.name {
  display: inline-block;
  color: rgb(255, 175, 255);
  padding: 10px;
  border-radius: 16px;
  background-size: 400%;
  background-image: linear-gradient(45deg, rgba(255,10,254,1) 0%, rgba(231,0,36,1) 50%, rgba(83,1,235,1) 97%);

  animation: gradientAnimation 1.5s linear infinite alternate;
}


h3, h4 {
  color: rgb(66, 63, 63);
  font-weight: 400;
}

h1 {
  color: #2b2b2b;
  /* margin: 48px 0px; */
}

.pic-container {
  height: auto;
  border-radius: 100%;
  /* width: 33%; */
}

.pic {
  padding: 70px;
  height: 300px;
  width: 300px;
  border-radius: 300px;
}

h2 {
  color: rgb(66, 63, 63);
}

p {
  color: rgb(66, 63, 63);
  padding: 5px;
  margin: 15px;
}

.skill {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skill span {
  font-size: 50px;
}

.skill-svg {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.mongo, .express, .react, .node {
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(49, 49, 49, 0.201);
  color: rgb(178, 243, 184);
  font-weight: bold;
  background-image: url('./svg/mongo mongo.svg');
  background-size: 400%;

  animation: gradientAnimation 5s linear infinite alternate;
}

.express {
  color: rgb(151, 151, 151);
  background-image: url("./svg/expressgrad.svg");
  animation: gradientAnimation 5s linear infinite alternate;
}

.react {
  color: rgb(208, 249, 255);
  background-image: url('./svg/react.svg');
  animation: gradientAnimation 5s linear infinite alternate;
}

.node {
  color: rgb(217, 255, 194);
  background-image: url('./svg/node.svg');
  animation: gradientAnimation 5s linear infinite alternate;
}


/* Animations */

@keyframes gradientAnimation {
  0% {
    /* background: linear-gradient(27deg, rgba(211,10,255,1) 0%, rgba(231,0,86,1) 36%, rgba(235,1,198,1) 91%); */
    background-position: left;
  }

  100% {
    /* background: linear-gradient(27deg, rgba(231,0,86,1) 36%, rgba(235,1,198,1) 91%, rgba(211,10,255,1) 0%); */
    background-position: right;
  }
  
}

@keyframes linkHoverAnimation {
  0% {
    background-image: linear-gradient(
      45deg,
      hsl(299deg 100% 53%) 0%,
      hsl(311deg 100% 50%) 17%,
      hsl(322deg 100% 50%) 25%,
      hsl(331deg 100% 50%) 31%,
      hsl(339deg 100% 50%) 37%,
      hsl(337deg 100% 50%) 42%,
      hsl(329deg 100% 50%) 47%,
      hsl(321deg 100% 50%) 53%,
      hsl(311deg 100% 50%) 58%,
      hsl(304deg 100% 49%) 63%,
      hsl(301deg 100% 48%) 69%,
      hsl(297deg 100% 48%) 75%,
      hsl(294deg 100% 49%) 83%,
      hsl(290deg 100% 50%) 100%
    );
    background-size: 400%;
    background-position: left;
  }

  100% {
    background-image: linear-gradient(
      45deg,
      hsl(299deg 100% 53%) 0%,
      hsl(311deg 100% 50%) 17%,
      hsl(322deg 100% 50%) 25%,
      hsl(331deg 100% 50%) 31%,
      hsl(339deg 100% 50%) 37%,
      hsl(337deg 100% 50%) 42%,
      hsl(329deg 100% 50%) 47%,
      hsl(321deg 100% 50%) 53%,
      hsl(311deg 100% 50%) 58%,
      hsl(304deg 100% 49%) 63%,
      hsl(301deg 100% 48%) 69%,
      hsl(297deg 100% 48%) 75%,
      hsl(294deg 100% 49%) 83%,
      hsl(290deg 100% 50%) 100%
    );
    background-size: 400%;
    background-position: right;
  }
}
