
* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: url('svg/background v2.svg') center/cover no-repeat fixed;
}

.nav-container {
  z-index: 1000;
  border: none;
  border-radius: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

.logo {
  margin: 10px;
  border-radius: 80px;
  /* box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.364); */
}

nav, .social {
  /* border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 15px 0px rgba(128, 128, 128, 0.364); */
  /* background-color: white; */
  margin-left: 20%;
  padding-right: 20px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social {
  padding-right: 2%;
  width: 20%;
}

nav a{
  text-decoration: none;
  color: rgb(51, 32, 50);
  font-size: medium;
  font-weight: 400;
}



.svg {
  height: 25px;
  width: 25px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 10px;
  margin: 0 8%;
}

.content,.pic-container {
  height: 350px;
  margin: 10px;
  padding: 2%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.362), rgba(255, 255, 255, 0));
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.name {
  display: inline-block;
  color: rgb(255, 175, 255);
  padding: 10px;
  border-radius: 16px;
  background-size: 400%;
  background-image: linear-gradient(45deg, rgba(255,10,254,1) 0%, rgba(231,0,36,1) 50%, rgba(83,1,235,1) 97%);

  animation: gradientAnimation 1s linear infinite alternate;
}


h3, h4 {
  color: #797979;
  font-weight: 400;
  margin: 28px 0px;
}

h1 {
  color: #2b2b2b;
  margin: 48px 0px;
}

.pic-container {
  height: auto;
  border-radius: 300px;
  margin-right: 8%;
}

.pic {
  padding: 70px;
  height: 300px;
  width: 300px;
  border-radius: 300px;
}



/* Animations */

@keyframes gradientAnimation {
  0% {
    /* background: linear-gradient(27deg, rgba(211,10,255,1) 0%, rgba(231,0,86,1) 36%, rgba(235,1,198,1) 91%); */
    background-position: left;
  }

  /* 50% {
    background: linear-gradient(27deg, rgba(235,1,198,1) 91%, rgba(211,10,255,1) 0%, rgba(231,0,86,1) 36%);
  } */

  100% {
    /* background: linear-gradient(27deg, rgba(231,0,86,1) 36%, rgba(235,1,198,1) 91%, rgba(211,10,255,1) 0%); */
    background-position: right;
  }
  
}
